body{
    background-image: url("/images/cucumber.png");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1{
    font-size:68px;
    margin: 50px 50px 50px 80px;
    text-shadow: 1px 1px rgba(97,12,200,0.51)
}

p{
    font-size: 16px;
    text-align: left;
    margin: 0px 0px 0px 40px;
    padding:10px;

}



ul{
text-align: left;
margin: 0px 0px 0px 70px;
font-size: 16px;}


.rooftop
{max-width:375px;
}
.driveway
{max-height:275px;}
.urban
{max-width:375px;}

.nav-item{
font-size: 14px;
margin-inline: 10px;}

.navbar-brand{
    margin-inline-start: 50px;
    margin-inline-end: 100px;
}

.textbox-r{
    background-color: rgba(223, 195, 236);
    margin-right:70px; 
    border: 2px solid green;
    text-align: left;     
}


.textbox-l{
    background-color: rgba(223, 195, 236);
    margin-top: 10px;
    margin-left:70px; 
    text-align: left;
    padding-left: 10px;
border: 2px solid green;}

.card-paragraph{
    margin-left:140px;
}
.card-title
{margin-left:30px;}