body{
    background-image: url("/images/cucumber.png");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
}


h1{
    font-size:60px;
    margin: 50px 50px 50px 80px;
    text-shadow: 1px 1px rgba(97,12,200,0.51)
}

p{
    font-size: 15px;
    text-align: left;
    margin: 0px 0px 0px 40px;
    padding:0px;

}



ul{
text-align: left;
margin: 0px 0px 0px 80px;
padding: 15px;
font-size:16;
}

a:hover{text-shadow: 1px 1px rgba(97,12,200,0.51);}


.rooftop
{max-width:500px;
}
.driveway
{max-height:275px; max-width: 250px;}
.urban
{max-width:500px;}

.nav-item{
font-size: 14px;
margin-inline: 8px;}

.navbar-brand{
    margin-left: 50px;
}

.textbox-r{
    background-color: rgba(223, 195, 236);
    margin-right:5%; 
    border: 2px double green;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 0px;
    box-shadow: -4px 4px 2px -1px rgba(0,128,0,0.5);    
}


.textbox-l{
    background-color: rgba(223, 195, 236);
    margin-top: 2%;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
border: 2px double #008000;
box-shadow: -4px 4px 2px -1px rgba(0,128,0,0.5);}

.card-paragraph{
    margin-left:7%;
    margin-top:20%;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}
.card-title
{margin-left:13%;
margin-bottom: 0%;
padding: 8% 0% 0% 0%;
    font-size: 16px;
    font-weight: 600;
}



@media(max-width: 750px) {
    h1{font-size:8vw;
  };
  .textbox-l{margin:0px auto;}
  .textbox-r{margin:0px auto;}

  .card-title{font-size: 15px; margin-left:12%;}
  .card-paragraph{font-size: 15px;
margin:0% auto;}
.card-text{font-size: 14px;}
 .driveway{width:100%; height:auto; display:flex; margin-right: auto; margin-left:auto;}  
li{font-size: 14px;
}
ul{margin-left: 10%;}

}